@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color: lightcoral ">
<div class="text-center">
    <h1 class="display-4">Welcome to My student Calculator </h1>
    <p>Welcome to my Student Calculator</p>
</div>
</body>
